{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_head %}
    <!-- Additional head elements can go here -->
    {% endblock %}
</head>
<body>
    <header style="display: flex; justify-content: space-between; width: 100%; padding: 16px, 32px;">
        <div>
            <a href="{% url 'home' %}"><img style="max-height: 80px;" src="{% static 'images/logo.png' %}" alt="4digit"></a>
            
        </div>
        <div style="display: flex; gap: 12px;">
            <a href="{% url 'neuer_antrag' %}" class = "btn"><input type="button" value="Freistellungsantrag stellen"></a>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-signout">Sign Out</button>
              </form>
        </div>
    </header>
    <main>
        {% block content %}
        <!-- Default content can be placed here if needed -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 My Site</p>
    </footer>
    <!-- Optional JavaScript files -->
    {% block extra_scripts %}
    <!-- Additional scripts can be added by child templates -->
    {% endblock %}
</body>
</html>
