
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
    <!-- Link to your CSS file -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">    {% block extra_head %}
    <!-- Additional head elements can go here -->
    {% endblock %}
</head>
<body>
    <header>
        <div>
            <a href="{% url 'adminview-home' %}"><img src="{% static 'images/logo.png' %}" alt="4digit"></a>
            
        </div>
        <div style="display: flex; gap: 12px; justify-content: center; align-items: center;">
            <a href="{% url 'adminview-csv' %}"><input type="button" value="Liste hochladen (csv)"></a>
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Sign Out</button>
              </form>
        </div>
    </header>
    <main style="display: flex; flex-direction: column; min-height: 88vh;">
        {% block content %}
        <!-- Default content can be placed here if needed -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 4digit</p>
    </footer>
    <!-- Optional JavaScript files -->
    {% block extra_scripts %}
    <!-- Additional scripts can be added by child templates -->
    {% endblock %}
</body>
</html>
