{% extends "users/base.html" %}

{% block title %}Signup Page{% endblock %}

{% block content %}
<h1>Registrieren</h1>
<form method="post">
    {% csrf_token %}
    <label for="vorname">Vorname:</label>
    <input type="text" name="vorname" required>

    <label for="nachname">Nachname:</label>
    <input type="text" name="nachname" required>
    
    <label for="email">Email:</label>
    <input type="email" name="email" required>

    <label for="birthdate">Geburtsdatum:</label>
    <input type="date" name="birthdate" required>

    <label for="password">Passwort:</label>
    <input type="password" name="password" required>
    
    <button type="submit">Register</button>
</form>
{% endblock %}