{% extends "antraege/base.html" %}

{% block title %}Antrag bearbeiten{% endblock %}

{% block content %}

<div style="display: flex; flex-direction: column; max-width: 960px; margin: 0 auto; padding: 20px;">
    <h1>Neuer Antrag von <em><u>{{antragsteller}}, Klasse {{ antrag.klasse }}</u></em></h1>

    <h2>"{{ titel }}"</h2>
    <p><b>{{ antrag.anfangsdatum }} bis {{ antrag.enddatum }}</b></p>
    <h3>Grund:</h3>
    <p>{{ schueler_grund }}</p>

    {% if schulleiter %}
    <h3>Bestätigungen der Lehrer</h3>
    <table>
        <thead>
            <tr>
                <th>Lehrer</th>
                <th>Status</th>
                <th>Grund</th>
            </tr>
        </thead>
        <tbody>
            {% for b in bestaetigungen %}
            <tr>
                <td>{{ b.name }}</td>
                <td>
                    {% if b.response == 'declined' %}
                        <span class="badge badge-danger">Abgelehnt</span>
                    {% elif b.response == 'accepted' %}
                        <span class="badge badge-success">Genehmigt</span>
                    {% endif %}
                </td>
                <td>{{ b.reason|default:"Keine" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul>
        {% for article in articles %}
            <li>{{ article.title }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>Ausfallender Unterricht:</h3>
    <p>{{ unterricht }}</p>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>
            <input type="radio" name="answer" value="annehmen" required> Annehmen
        </label>
        
        <label>
            <input type="radio" name="answer" value="ablehnen" required> Ablehnen
        </label>
        <label>Gründe einer Ablehnung:</label>
        <textarea name="grund" id="" placeholder="Gründe für die Ablehnung des Antrags..."></textarea>
        
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}