{% extends "antraege/base.html" %}

{% block title %}Antrag{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ antrag.titel }}</h1>
    
    <h2>Antragdetails</h2>
    <div class="card">
        <div class="card-body">
            <p><strong>Grund:</strong> {{ antrag.grund }}</p>
            <p><strong>Klasse:</strong> {{ antrag.klasse }}</p>
            <p><strong>Zeitraum:</strong> {{ antrag.anfangsdatum }} - {{ antrag.enddatum }}</p>
            <p><strong>Erstellt am:</strong> {{ antrag.erstellt_am }}</p>
            
            <div class="antrag-status">
                <strong>Antragsstatus:</strong> 
                {% if antrag.status == 'in_progress' %}
                    <span class="badge badge-warning">In Bearbeitung</span>
                {% elif antrag.status == 'accepted' %}
                    <span class="badge badge-success">Genehmigt</span>
                {% else %}
                    <span class="badge badge-danger">Abgelehnt</span>
                {% endif %}
            </div>
        </div>
    </div>
    
    <h2>Ausstehende Anfragen</h2>
    {% if anfragen %}
        <p>Ausstehend: {{ anfragen_status.not_responded }}</p>
        <table class="user-table">
            <thead>
                <tr>
                    <th>Unterricht</th>
                    <th>Status</th>
                    <th>Begründung</th>
                </tr>
            </thead>
            <tbody>
                {% for anfrage in anfragen %}
                <tr>
                    <td>
                        {% if anfrage.unterricht %}
                            {{ anfrage.unterricht }} {{anfrage.email}}
                        {% elif anfrage.gm %}
                            {{ anfrage.gm }}
                        {% elif anfrage.im %}
                            {{ anfrage.im }}
                        {% endif %}
                        </td>
                    <td>
                        {% if anfrage.response == 'not_responded' %}
                            <span class="badge badge-secondary">Noch nicht geantwortet</span>
                        {% elif anfrage.response == 'accepted' %}
                            <span class="badge badge-success">Genehmigt</span>
                        {% else %}
                            <span class="badge badge-danger">Abgelehnt</span>
                        {% endif %}
                    </td>
                    <td>{{ anfrage.reason|default:"Keine Begründung" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Keine Anfragen für diesen Antrag.</p>
    {% endif %}
    
    <a href="{% url 'home' %}" class="btn btn-secondary">Zurück zur Liste</a>
</div>
{% endblock %}